button {
	height: auto;
	border-width: 1rem;
	border-style: solid;
}

button:focus,
button:visited,
button:active {
	outline: none;
}

.zwButton {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
	font-size: 1.5rem;
}

.zwRollBtn {
	border-width: 1rem;
	border-style: solid;
	border-image: url("./../../assets/icons/dividers/div-20.svg") ;
	border-image-slice:  12.5;
	border-image-width: 13px;
	border-image-repeat: stretch;

	background-color: transparent;
	width: 300px;
	padding: 0.5em 0;
}

.zwButtonPrimary {
	display: flex;
	background: $zw-red;
	align-items: center;
	padding: 0.6rem 0;
	width: 100%;
	justify-content: center;

	& > h1 {
		color: white;
	}
}

.zwButtonSecondary {
	font-size: 1.15rem;
	color: $zw-black;
	background: transparent;
	border: none;
	font-weight: 700;
	width: 100%;
	height: auto;
	font-family: 'Palatino', serif;

	&:hover {
		cursor: pointer;
		color: $zw-red;
	}
}

