//@import "variables";

.Box {
	display: flex;
	justify-content: space-between;
}

.BorderedBox {
	border-width: 1rem;
	border-style: solid;
	border-image: url("./../../assets/icons/frame-solid/frame-solid-1.svg");
	border-image-repeat: stretch;
	border-image-width: 20px;
	border-image-slice: 20;
	background-color: transparent;
}

.BorderedAccentBox {
	border-width: 1rem;
	border-style: solid;
	border-image: url("./../../assets/icons/frame-solid/frame-solid-1-red.svg");
	border-image-width: 20px;
	border-image-slice: 20;
	border-image-repeat: stretch;
	background-color: transparent;
}

.BorderedBox2 {
	border-width: 1rem;
	border-style: solid;
	border-image: url("./../../assets/icons/frame-solid/frame-solid-12.svg");
	border-image-width: 10px 0 0 0;
	border-image-repeat: repeat;
	border-image-slice: 20;
	background-color: transparent;
}


.DottedList {
	padding: 0 0 0 25px;
	li {
		list-style: circle;
	}
}

.OverflowHidden {
	overflow: hidden;
}

.PageSpacing{
	padding: 7em 0 10em 0;
	@media(min-width: 1200px) {
		padding: 7em 0;
	}
}

.SheetHeaderAlignment {
	display: flex;
	flex-direction: column;
	@media(min-width: 768px) {
		flex-direction: row;
		align-items: center;
		& > div:first-child {
			width: 100%
		}
	}
}

.HeaderBottomBorder {
	transition: opacity 0.5s ease-in-out;
	opacity: 1;
	border-width: 1rem;
	border-style: solid;
	border-image: url("./../../assets/icons/frame-solid/frame-solid-12.svg");
	border-image-slice:  6;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-image-width: 0 0 8px 0;
	border-image-repeat: repeat;
	background-color: transparent;
}
