.CreatorsFooter {
	color: #302f2f;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: auto;
	padding: 20px 0;
	letter-spacing: 1px;
	font-size: 1rem;
	a {
		padding: 0 2px;
	}
	 a:link,
	 a:visited,
	 a:active {
		color: #c90606;
		font-family: inherit ;
	}

	a:link {
		text-decoration: none;
	}

	 a:hover {
		cursor: pointer;
	}
}


