$size: 20px;

.zwIcon {
	display: flex;
	width: $size;
	height: $size;
	background-repeat: no-repeat;
	margin-left: $size - 10px;
	background-size: $size;
}

.zwDice {
	background-image: url('./../../assets/icons/dice.svg');
}

.zwLoading {
	background-image: url('./../../assets/icons/hourglass.svg');
}


.zwBorder2 {
	//background-image: url('./../../assets/icons/dividers/div-31.svg');
	background-image: url('./../../assets/icons/dividers/div-24.svg');
	//background-image: url('./../../assets/icons/dividers/div-20.svg');
	//background-image: url('./../../assets/icons/dividers/div-19.svg');
	//background-image: url('./../../assets/icons/dividers/div-7.svg');
	display: flex;
	width: 100%;
	height: 30px;
	background-repeat: no-repeat;
	background-size: 100%;
	@media(min-width: 465px) {
		width: 25em;
		height: 30px;
		background-size: 100%;
	}
}
.zwBorder3 {
	background-image: url('./../../assets/icons/dividers/div-19.svg');
	display: flex;
	width: 100%;
	height: 28px;
	background-repeat: no-repeat;
	background-size: 100%;
	@media(min-width: 465px) {
		width: 25em;
		background-size: 100%;
	}
}


.zwFrame1{
	background-image: url('./../../assets/icons/frames/frame-1.svg');
	display: flex;
	width: 20em;
	height: 30px;
	background-repeat: no-repeat;
	margin-left: 10px;
	background-size: 31vw;
}


.zwLogo {
	$h: 70px;
	display: flex;
	align-items: center;
	width: 300px;
	height: $h;
	background-size: 300px $h;
	background-repeat: no-repeat;
	background-image: url('./../../assets/logo.png');
	&:hover {
		cursor: pointer;
	}
}

.zwSave {
	background-image: url('./../../assets/icons/save.svg');
}

.zwCancel {
	background-image: url('./../../assets/icons/cancel.svg');
}

.zwBack {
	background-image: url('./../../assets/icons/arrow.svg');
	transform: rotate(-135deg);
}
