// Grid layout
.WrapperGrid {
	display: grid;
	grid-template-areas: ". component .";
	grid-template-columns: 1fr 90% 1fr;
	@media(min-width: 53em) { // 848px
		grid-template-columns: 1fr 50em 1fr;
	}
	grid-template-rows: auto;

	& > .ContentSectionContainer {
		grid-area: component;
	}
}

// Flex
.FlexBox {
	display: flex;
	align-items: center;
}

// column
.FlexBoxColumn {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.FlexBoxColumnBetween {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

.FlexBoxColumnAround {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

// row

.FlexBoxRow {
	display: flex;
	flex-direction: row;
}

.FlexBoxRowCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

.FlexBoxRowBetween {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.FlexBoxRowAround {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.FlexBoxRowBetweenCenter {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
