.zwLoader {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
}

.zwLoader div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border-width: 6px;
	border-style: solid;
	border-radius: 50%;
	animation: zwLoader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #000 transparent transparent transparent;
}

.zwLoader div:nth-child(1) {
	animation-delay: -0.45s;
}

.zwLoader div:nth-child(2) {
	animation-delay: -0.3s;
}

.zwLoader div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes zwLoader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
