.Logo {
	width: 100%;
	background-color: #fff;
	position: fixed;
	z-index: 10;
	padding: 0.5rem 1rem;
	&:hover {
		cursor: pointer;
	}
}
.Logo > h1 {
	font-size: 36px;
	font-weight: bold;
	color: #444;
}