.PrimaryText {
	font-weight: bold;
}

.PageTitle {
	font-size: 1.5rem;
}

.DataAccentTextSize {
	font-size: 20px;
	@media(min-width: min(768px)) {
		font-size: 24px;
	}
}

.DescriptionText {
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.TextCenter {
	text-align: center;
}

.TitleSpacing {
    margin-bottom: 10px;
}