@import "variables", "typography", "layout", "elements", "containers", "icons", "buttons", "footer", "logo";

/* Classes declared in the utils are shared through the app.
* Import directly this file when the react component doesn't have/need its own sass module but still
* uses shared styles imported in this file.

/* to fix imports
$zw-primary-color: #c90606;
$zw-text-color: #4b4b4b;
$zw-white-color: #e5e5e5;

* Styles specific for the components are:
* - camelCase
* - .module in the filename
* - single imported in the react component with the correspondant filename
 */
