.Modal {
	width: 100%;
	//height: 100vh;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
