.Input {
	height: 50px;
	width: 100%;
	border: none;
	border-bottom: 1px solid #333;
	font-size: 1.5rem;
	text-transform: capitalize;
	font-family: 'Palatino';
	text-align: center;
}

input.Input:focus {
	outline: none;
}