.Checkbox input[type="checkbox"] {
    margin: 0;
    margin-right: 10px;
    background-color: transparent;
    border: .0625em solid black;
    box-shadow: inset 0 0 0 0 white;
    cursor: pointer;
    font: inherit;
    height: 1em;
    outline: none;
    width: 1em;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.Checkbox input[type="checkbox"]:checked {
    background-color: white;
    box-shadow: inset 0 0 0 .1875em black;
    -webkit-transition: background .15s, box-shadow .1s;
    transition: background .15s, box-shadow .1s;
}

.Container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

div.Checkbox {
    border: none;
    height: auto;
    display: flex;
    flex-direction: column;
}

.Checkbox label {
    height: 30px;
    font-family: 'Palatino', serif;
    font-size: 1.2rem;
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}



