html, body, #app, #app>div {
    height: 100%
}

body {
    margin: 0;
    /*font-family: 'Almendra SC', serif;*/
    /*font-family: 'Uncial Antiqua', cursive;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
    color: #333;
    height: 100%;
    overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p, span {
    font-size: 1.2rem;
    line-height: 1.4;
    letter-spacing: 0.5px;
    font-family: "Palatino", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'MedievalSharp', cursive;
    /*font-family: 'Almendra SC', serif;*/
    /*font-family: 'Uncial Antiqua', cursive;*/
}

h1, h2, h3 {
    color: #c90606;
}

h4, h5, h6 {
    color: #4b4b4b;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem ;
}

h3 {
    font-size: 1.3rem ;
}

h4  {
    font-size: 1.2rem ;
}

h5 {
    font-size: 1.1rem ;
}

h6 {
    font-size: 1rem;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

button:hover {
    cursor: pointer;
}
