@import "../utils/utils-main.module";

@mixin box($card-w, $min-card-h, $max-card-h, $bgc) {
	width: $card-w;
	min-height: $min-card-h;
	max-height: $max-card-h;
	background: $bgc;
	@content;
}

.CharacterListContainer {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
	grid-gap: 15px;
	justify-content: center;

	@media(min-width: 36.250em) { // 575px
		grid-template-columns: repeat(2, 250px);
	}
	@media(min-width: 53em) { // 848px
		grid-template-columns: repeat(3, 250px);
		grid-gap: 2em;
	}
}

.CharacterListItem {
	@include box(auto, 160px, auto, white);
	border-image: url("./../../assets/icons/frame-solid/frame-solid-1.svg");
	border-image-slice: 20;
	border-image-width: 15px;
	border-style: solid;
	border-width: 1rem;
	border-image-repeat: stretch;
	padding: 1.3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

// roll new component
.RollNewContainer {
	padding: 1rem 0 2rem 0;
	display: flex;
	align-items: center;
	justify-content: center;

	p {
		font-weight: 700;
	}

	& .zwButtonPrimary {
		max-width: 300px;

		h1 {
			font-size: 1rem;
			@media(min-width: 53em) { // 848px
				font-size: 1.25rem;
			}
		}
	}

	& .zwRollBtn:hover {
		h1 {
			color: darken(#c90606, 30%);
		}
	}
}
