@import url('https://fonts.googleapis.com/css?family=Almendra+SC|MedievalSharp|Uncial+Antiqua&display=swap');
@import "../utils/utils-main.module";

.CharacterSheetGrid {
	display: grid;
	grid-template-areas: ". sheet .";
	grid-template-columns: 1fr 90% 1fr;
	margin-bottom: 3%;
	@media(min-width: 64em) { // 1024px
		grid-template-columns: 1fr 72em 1fr;
	}
	@media(min-width: 75em) { // 1200px
		grid-template-columns: 1fr 72em 1fr;
	}
	grid-template-rows: auto;

	& > .ContentSectionContainer {
		grid-area: sheet;
	}
}

.FluidContainer {
	width: 100%;
}
