@import "../utils/utils-main.module";
.PointBoxContainer {
	width: 100%;
	height: auto;
	display: grid;
	justify-content: center;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(150px, 150px));
	@media(min-width: 48em) { //670px
		justify-content: space-between;
		grid-gap: 15px;
	}
}

.PointBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0.8em;
	span {
		font-weight: 700;
	}
	h4 {
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		text-align: center;
	}

	p {
		padding-top: 15px;
	}
}
